.lesson-details-breadcrumb .lesson-details-breadcrumb {
  margin: 0;
}
.lesson-body-content {
  padding-top: 12px;
}
.lessons-see-all {
  float: right;
  left: -13px;
  margin-bottom: 20px;
}
.related-lessons {
  list-style: none;
  padding: 0;
}
.related-lessons li {
  margin-bottom: 30px;
  padding: 0;
}
.related-lessons li h5 {
  margin-bottom: 3px;
}
.videos-container .row.border-bottom-gray:last-child {
  border: none;
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
