@require 'Variables.styl'
@require 'Mixins.styl'

body {
  font-family: primary-font-stack
  padding-bottom: 20px
  padding-top: 50px
}

h1, h2, h3, h4, h5, h6 {
  font-family: heading-font-stack
}

.text-heading2 {
  font-family: heading-font-stack
  font-size: 30px
}

footer.main {
  border-top: 1px solid color-gray
  font-size: 10px
  margin-top: 20px
  padding: 5px
  text-align: center
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px
  padding-right: 15px
}

.row {
  padding: size1 0

  &.row-size0 {
    padding: 0
  }

  &.row-size1 {
    padding: size1 0
  }

  &.row-size2 {
    padding: size2 0
  }

  &.row-size3 {
    padding: size3 0
  }

  &.row-size4 {
    padding: size4 0
  }

  &.row-size5 {
    padding: size5 0
  }

  &.row-size6 {
    padding: size6 0
  }
}

.bg-logo {
  background-color: color-navy
  color: white
}

.bg-navy {
  background-color: color-navy
  color: white
}

.border-bottom-gray {
  border-bottom: 1px solid color-gray
}

.arrow-link {
  color: inherit
  display: inline-block
  position: relative

  &:after {
    content: '>'
    display: inline-block
    line-height: 1.5
    margin-left: 0.3em
    position: absolute
  }
}

.text-primary {
  color: color-primary!important
}

.text-secondary {
  color: color-secondary!important
}

.text-success {
  color: color-success!important
}

.text-danger {
  color: color-danger!important
}

.text-warning {
  color: color-warning!important
}

.text-info {
  color: color-info!important
}

.text-light {
  color: color-light-gray!important
}

.text-dark {
  color: color-dark-gray!important
}

.text-muted {
  color: color-gray!important
}

.bg-primary {
  background-color: color-primary!important
}

.bg-secondary {
  background-color: color-secondary!important
}

.bg-success {
  background-color: color-success!important
}

.bg-danger {
  background-color: color-danger!important
}

.bg-warning {
  background-color: color-warning!important
}

.bg-info {
  background-color: color-info!important
}

.bg-light {
  background-color: color-light-gray!important
}

.bg-dark {
  background-color: color-dark-gray!important
}

.breadcrumb {
  margin-bottom: 0
}

.heading-icon {
  .glyphicon {
    padding-right: 5px
  }
}

.notification {
  border-radius(10px)
  position: relative
  text-align: center

  &.notification-success {
    background-color: color-success
    color: white
    padding: size1
  }

  .glyphicon {
    display: block
    font-size: size3
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: screen-sm-min) {
  .bg-logo {
    align-items: center
    background-image: url("/images/logo-bg.png");
    background-size: cover
    display: flex
    min-height: 260px
  }

  .notification {
    .glyphicon {
      font-size: size4
      left: size2
      position: absolute
      top: size3
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: screen-md-min) {
  .breadcrumb {
    margin-bottom: size1
  }

  .notification {
    .glyphicon {
      font-size: size5
      left: size3
      top: size2
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: screen-lg-min) {
  .notification {
    .glyphicon {
      font-size: size6
      left: size6
      top: size1
    }
  }
}