//Sizes
size1 = 12px
size2 = 24px
size3 = 36px
size4 = 48px
size5 = 60px
size6 = 72px

//Colors
color-primary = #007bff
color-secondary = #868e96
color-success = #28a745
color-danger = #dc3545
color-warning = #ffc107
color-info = #17a2b8
color-light-gray = #f8f9fa
color-gray = #868e96
color-dark-gray = #343a40
color-navy = #001433

//Fonts
primary-font-stack = 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif
heading-font-stack = 'Vollkorn SC', Georgia, 'Times New Roman', Times, serif