@model BlackMoonStudio.Models.LessonCategoryIndex
@{
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>@Model.Heading</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @foreach (var lesson in Model.Lessons)
            {
                <h2>@lesson.Title</h2>
                <p>@lesson.Summary</p>
            }
        </div>
    </div>
</div>