body {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vollkorn SC', Georgia, 'Times New Roman', Times, serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    padding: 12px 0;
}

.bg-navy {
    background-color: #001433;
    color: white;
}

.bg-logo {
    background-image: url("/images/logo-bg.png");
    background-size: cover;
}

.arrow-link {
    color: inherit;
    display: inline-block;
    position: relative;
}

.arrow-link:after {
    content: '>';
    display: inline-block;
    line-height: 1.5;
    margin-left: 0.3em;
    position: absolute;
}

.lessons-see-all {
    float: right;
    left: -13px;
}

footer.main {
    border-top: 1px solid #DDD;
    font-size: 10px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}
