body {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vollkorn SC', Georgia, 'Times New Roman', Times, serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bg-navy {
    background-color: #001433;
    color: white;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}
