@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>About BlackMoonStudio</h1>
            <h2>It all started over a cup of coffee...</h2>
            <p>I was chatting with a co&ndash;worker who mentioned his 14 year old son was showing an interest in the guitar and they were thinking about putting him in lessons. He asked what I thought, and whether I had any recommendations. Without even thinking about it I blurted out "Don't put him in lessons, all he needs is YouTube!"</p>
            <p>I spent the rest of our coffee break talking about how much time I spend researching guitar&ndash;related stuff on YouTube, and how the amount of free learning content on there is staggering. The conversation soon ended, but the idea did not.</p>
            <p>After more thought, the real problem was revealed (particularly for beginners) &ndash; not knowing where to start or what order to study in. There's more than enough content to choose from, probably even too much, so it comes down to an issue of curation.</p>
            <h2>That's when the wheels really started turning...</h2>
            <p>What if you created a curated collection of guitar lessons, and linked to all the appropriate videos on YouTube to illustrate the main points for each lesson? You could have different tracks based on difficulty and/or genre. The visitors to your site could bookmark lessons on your site and not have to worry about keeping track of YouTube videos because they can be assured that you will always have appropriate vidoes for each topic.</p>
            <p>Then I started thinking about adding a social aspect, allowing visitors to leave comments on lessons. I could also add an RSS feed for my visitors to subscribe to. You see, I've been looking for a project like this for a long time, and combining my best skill (web developoment) with the thing I'm most passionate about (guitar), seemed like a natural fit.</p>
            <h2>I'm calling it the 'YouTube Guitar Method'</h2>
            <p>So here it is. My goal is to provide high quality free lessons to everyone by utilizing all the free content that's already out there, in conjunction with custom lessons that I am constantly writing for this site.</p>
            <p>I've been playing guitar since September 1994, which is a long time, but I jumped around a lot between teachers, styles, influences, lessons, etc. Consequently it took me a long time to get to where I am today as a player (and believe me there's still plenty of room for improvement). I now know that had I followed a lesson plan like the one I'm presenting to you here, I could have gotten to my current level in a mere fraction of the time.</p>
            <p>Although I love many styles of music, the lessons in this site will have a Blues/Rock/Metal focus, because those are the genres that I've been playing for all these years. I love Jazz, Fusion, Classical, and others, but at this point I haven't taken on those styles as a player. To give you an idea of where I'm coming from, here's my list of top 10 guitar players. It took me a while to create this list and I reserve the right to change it at any time ;-)</p>
            <ol>
                <li>Jimi Hendrix</li>
                <li>Stevie Ray Vaughan</li>
                <li>Eric Clapton</li>
                <li>Dimebag Darrell</li>
                <li>Paul Gilbert</li>
                <li>Randy Rhoads</li>
                <li>Eddie Van Halen</li>
                <li>Joe Satriani</li>
                <li>James Hetfield</li>
                <li>Mark Morton</li>
            </ol>
            <p>I'm excited to finally put together everything I've learned over the years into a single resource. Even if no one else uses this site, I know I will benefit greatly as a player by creating it, but hopefully it ends up helping out at least a few people.</p>
            <p>&mdash;M.P.</p>
            <p>P.S. &ndash; Please don't misinterpret the purpose of this site as a slam against traditional face&ndash;to&ndash;face guitar lessons. There is no question that having a teacher in person, particularly with an activity like this which is so technical, is a very valuable resource. Having someone there to correct your mistakes in real time is always going to be beneficial, but that's not always going to be an option for everyone either. Therefore, the purpose here is to provide a free comprehensive alternative to the traditional format. I hope you enjoy.</p>
        </div>
    </div>
</div>