@page
@model IndexModel
@{
    ViewData["Title"] = "Free Guitar Lessons";
}

<div class="container-fluid">
    <div class="row bg-navy">
        <div class="col">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Free Guitar Lessons from Black Moon Studio</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8">
                    <p>Welcome to Black Moon Studio! We're committed to providing you a curated course of free, high&ndash;quality guitar lessons. For each lesson, we write the content, then present a series of related YouTube videos and online articles to help further explain the topic of that lesson.</p>
                    <p>To learn more on what we're all about, <a asp-page="/About" style="color: white;">click here</a></p>
                    <p>Also &mdash; <strong>check back here regularly</strong> because the lesson lists are never complete!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Example lessons</h2>
        </div>
    </div>
    <div class="row">
        @if (Model.BeginnerLessons?.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Beginner",
                Path = "/lessons/beginner/",
                Lessons = Model.BeginnerLessons,
                ShowSeeAllLink = true,
                IconClass = "glyphicon-road",
            })
        }

        @if (Model.IntermediateLessons?.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Intermediate",
                Path = "/lessons/intermediate/",
                Lessons = Model.IntermediateLessons,
                ShowSeeAllLink = true,
                IconClass = "glyphicon-music",
            })
        }

        @if (Model.AdvancedLessons?.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Advanced",
                Path = "/lessons/advanced/",
                Lessons = Model.AdvancedLessons,
                ShowSeeAllLink = true,
                IconClass = "glyphicon-fire",
            })
        }
    </div>
</div>
