@page
@model IndexModel
@{
    ViewData["Title"] = "Free Guitar Lessons";
}

<div class="container-fluid">
    <div class="row bg-navy">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>Free Guitar Lessons</h1>
            <p>Welcome to BlackMoonStudio! We're committed to providing you a curated course of free, high&ndash;quality guitar lessons. Basically, for each lesson, we write the content, then present a series of related videos and articles to help further explain the topic of that lesson.</p>
            <p>To learn more on what we're all about, <a asp-page="/About" style="color: white;">click here</a></p>
            <p>Also &mdash; <strong>check back here regularly</strong> because the lesson lists are never complete!</p>
        </div>
    </div>
    <div class="row">
        @if (Model.BeginnerLessons?.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Beginner",
                Path = "/lessons/beginner/",
                Lessons = Model.BeginnerLessons
            })
        }

        @if (Model.IntermediateLessons?.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Intermediate",
                Path = "/lessons/intermediate/",
                Lessons = Model.IntermediateLessons
            })
        }

        @if (Model.AdvancedLessons?.Any() == true)
        {
            @Html.Partial("LessonsColumn", new BlackMoonStudio.Models.LessonsColumn
            {
                Title = "Advanced",
                Path = "/lessons/advanced/",
                Lessons = Model.AdvancedLessons
            })
        }
    </div>
</div>
