@page
@model IndexModel
@{
    ViewData["Title"] = "Free Guitar Lessons";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Free Guitar Lessons</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Model.Greeting
        </div>
    </div>
    @if (Model.BeginnerLessons?.Any() == true)
    {
        <div class="row">
            <div class="col">
                @foreach(var lesson in Model.BeginnerLessons)
                {
                    <h3>@lesson.Title</h3>
                    <p>@lesson.Slug</p>
                }
            </div>
        </div>
    }
</div>
